* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  color: #fff;
  background-color: #121214;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* h1 {
  color: #ceef92;
}

img {
  width: 64px; */
